In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Bam,IR,83.52,clear sky,29.1060,58.3570,Bam Tourist Hotel
1,2,Kapaa,US,82.47,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,4,Caravelas,BR,71.31,overcast clouds,-17.7125,-39.2481,Pousada dos Navegantes
3,5,Tefe,BR,86.11,broken clouds,-3.3542,-64.7114,Aracati Hotel
4,6,Vaini,TO,71.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt//><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>and<dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

# hotel_info
# locations.head(10)

In [10]:
# 4a. Add a marker layer for each city to the map.
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City']=='Nagato')&(vacation_df['Country']=='JP')]
vacation_end = vacation_df.loc[(vacation_df['City']=='Nagato')&(vacation_df['Country']=='JP')]
vacation_stop1 = vacation_df.loc[(vacation_df['City']=='Shingu')&(vacation_df['Country']=='JP')]
vacation_stop2 = vacation_df.loc[(vacation_df['City']=='Muroto')&(vacation_df['Country']=='JP')] 
vacation_stop3 = vacation_df.loc[(vacation_df['City']=='Nakamura')&(vacation_df['Country']=='JP')] 
# vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
264,533,Nagato,JP,80.67,overcast clouds,34.3833,131.2,いそう庵

In [42]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat','Lng']].to_numpy()[0]
end = vacation_end[['Lat','Lng']].to_numpy()[0]
stop1 = vacation_stop1[['Lat','Lng']].to_numpy()[0]
stop2 = vacation_stop2[['Lat','Lng']].to_numpy()[0]
stop3 = vacation_stop3[['Lat','Lng']].to_numpy()[0]

# stop3

In [43]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,533,Nagato,JP,80.67,overcast clouds,34.3833,131.2000,いそう庵
1,105,Shingu,JP,81.64,overcast clouds,33.7333,135.9833,Shingu UI Hotel
2,633,Muroto,JP,83.19,overcast clouds,33.2833,134.1500,Oota Ryokan
3,400,Nakamura,JP,80.98,broken clouds,32.9833,132.9333,Hotel Crown Hills Nakamura

In [45]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt//><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>and<dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [46]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))